table{
    border: solid;
    border-width: 1px;
}
td{
    border: solid;
    border-width: 3px;
    border-color: blue;
    width: 100px;
    height: 100px;
}
h1{
    color: blue;
    font-size: 2.8em;
}

.clear{
    width: 100px;
    height: 30px;
    color:white;
    font-weight: bold;
    background-color: dodgerblue;
    padding: 3px;
    margin: 1em;
    
}

.winner{
    border: solid;
    border-width: 3px;
    border-color: red;
    border-radius: 15px;
    position: absolute;
    background-color:rgba(0, 0, 255, 0.8);
    color: white;
    width: 50%;
    text-align: center;
}

.turn {
    font-size: 25px;
    color: rebeccapurple;
    border: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    
}