table{
    border: solid;
    border-width: 1px;
}
td{
    border: solid;
    border-width: 3px;
    border-color: blue;
    width: 100px;
    height: 100px;
}
h1{
    color: blue;
    font-size: 2.8em;
}

.clear{
    width: 100px;
    height: 30px;
    color: rgb(1, 25, 26);
    background-color: dodgerblue;
    margin: 1em;
}